/* General Styles */
body, html {
    font-family: 'Arial', sans-serif;
  }
  
  .mainContainer {
    /* Add necessary styles here */
  }
  
  .loginContainer {
    background-color: #ffffff;
    height: 490px;
  }
  
  .login-title {
    text-align: center;
  }
  
  .login-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .loginButton {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  
  .signupLink {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .signupLink:hover {
    text-decoration: underline;
  }
  
  .imageContainer {
    justify-content: center;
    align-items: center;
  }
  
  .imageSvg {
    max-width: 100%;
    height: auto;
  }
  
  .hiddenOnSmallScreens {
    display: block;
  }
  
  @media (max-width: 600px) {
    .hiddenOnSmallScreens {
      display: none;
    }
    
    
  }
  