/* General Styles */
body, html {
    font-family: 'Arial', sans-serif;
  }
  
  .mainContainer {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .signupContainer {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .signupButton {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signupButton:hover {
    background-color: #0056b3;
  }
  
  .loginLink {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .loginLink:hover {
    text-decoration: underline;
  }
  
  .imageContainer {
    justify-content: center;
    align-items: center;
  }
  
  .imageSvg {
    max-width: 100%;
    height: auto;
  }
  
  .hiddenOnSmallScreens {
    display: block;
  }
  
  @media (max-width: 600px) {
    .hiddenOnSmallScreens {
      display: none;
    }

    .mainContainer{
        margin-left: -40px;
    }
  }
  
  .text-center a {
    display: block;
    margin-top: 2px;
  }
  
  .text-danger {
    color: #dc3545; /* Red color for error messages */
  }
  
  .row {
    margin-bottom: 0.5rem; /* Space between rows */
  }
  
  .col-form-label {
    font-weight: bold; /* Make labels bold */
    padding-top: 0.5rem; /* Add space above labels */
  }
  